h1, p {
  font-family: Lato;
}
body{
  background-color: #cccccc !important;
}
.tab-style-1{
    background: #9c78cd;
}
.tab-style-1 ul li .active,.tab-style-1 ul li a{
    border-width: 0 !important;margin: 0; border-radius: 0
}
.tab-style-1 ul li{
    margin: 0 !important;
}
.tab-style-1 ul li a{
    color:#fff;
}
a{
  cursor: pointer;
}
.custom-card{
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
margin:0 10px 10px 0;
padding:5px;
border-radius:.25rem;
max-width: 300px;
width:100%;
display: inline-block;
}